.ccip-app {
  &.ccip {
    &-session {
      &-table {
        position: relative;
        
        &.general {
          display: grid;
        }
      }

      &-title {
        white-space: pre-wrap;
      }
    }
  }
}